body{
    background: gray;
}

#box{
    width: 600px;
    height: 400px;
    background-color: salmon;
    margin:0 auto;
}

.salmon{
    background-color: salmon;
}

#actionButton{
    width: 150px;
    height: 50px;
    border: 2px solid darkblue;
    border-radius: 5px;
    background-color: transparent;
    color:white;
    margin: 0 auto;
    display: inline-box;
    transition: .2s;
}

#actionButton:hover{
    background-color: darkblue;
}

#box.green{
   background-color: green ;
}
