body{
    background-color: #eee;
}

#canvas{
    width: 80vw;
    height: 60vh;
    margin: 0 auto;
    background: #fff;
    position: relative;
}

.brush{
    width: 10px;
    height: 10px;
    background-color: orangered;
    position: absolute;
    transform: translate(-50%,-50%);
}

.circle-brush{
    border-radius: 50%;
}