html{
    box-sizing: border-box;
    padding: 0;
    border:0;
}

body{
    background-color: lightslategray;
}
#canvas{
    background-color: #fff;
    width: 800px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 2rem;
}

.allItems{
    width: 95vw;
    height: 90vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.inputs{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    align-content: space-between;
    border: 1px black dotted;
    padding: 1rem;
}

.colors{
    margin: 1rem;
}

.inputs__colors{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-be;
    margin: 2rem 0;
}

.inputs__colors--button{
    margin-bottom: 1px;
    margin-right: 1px;
    height: 2rem;
    width: 2rem;
    border: 2px solid #eee;
    background: red;
}
.inputs__colors--input{
    height: 1.6rem;
    width: 1.5rem;
    border: none;
}


.inputs__colors--button + .blue{
    background-color: blue;
}

.inputs__colors--button + .black{
    background-color: black;
}

.inputs__colors--button + .yellow{
    background-color: yellow;
}

.inputs__colors--button + .white{
    background-color: white;
}

.inputs__colors--button + .green{
    background-color: green;
}

.inputs__colors--button + .brown{
    background-color: brown;
}

.inputs__colors--button + .orange{
    background-color: orange;
}
.inputs__colors--button + .orangered{
    background-color: orangered;
}

.inputs__colors--button + .aqua{
    background-color: aqua;
}


.inputs__colors--button + .lime{
    background-color: lime;
}


.inputs__colors--button + .grey{
    background-color: grey;
}


.inputs__colors--button + .sienna{
    background-color: sienna;
}
.inputs__colors--button + .purple{
    background-color: purple;
}
.inputs__colors--button + .pink{
    background-color: pink;
}