@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,700,900&display=swap');

html{
    box-sizing: border-box;
    padding: 0;
    border:0;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #333;
    /* background: linear-gradient(to bottom, #666, #333) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
}


#canvas{
    background-color: #fff;
    width: 800px;
    height: 600px;
    margin: 20px;
    box-shadow: black 0 0 30px 5px;
}

.allItems{
    width: 95vw;
    height: 90vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.inputs{
    display: flex;
    width: 300px;
    flex-direction: column;
    margin: 1rem;
    align-content: space-between;
    padding: 1rem;
    justify-content: flex-start;
    align-items: center;
}

.modalHeading{
    width: 100%;
    transition: all .2s;
    background-color: #FF9900;
    cursor: pointer;
    text-align: center;
    color:#222;
}

.modalHeading:hover{
    color:white;
}

.modalHeadingSecondary{
    width: 100%;
    background-color: #fa9600;
    cursor: pointer;
    text-align: center;
    color:#222;
    transition: all .2s;
}

.modalHeadingSecondary:hover{
    color:white;
}
.inputBrushesModal{
    text-align: center;
    width: 100%;
    background-color: #666;
    display: none;
    opacity: 0;
    animation: showItem 1s;
    padding-bottom: 10px;
}

.inputColorsModal{
    text-align: center;
    width: 100%;
    background-color: #666;
    display: none;
    opacity: 0;
    animation: showItem 1s;
}

.inputImagesModal{
    text-align: center;
    width: 100%;
    background-color: #666;
    display: none;
    opacity: 0;
    animation: showItem 1s;
}

.inputFiltersModal{
    width: 100%;
    background-color: #666;
    display: none;
    opacity: 0;
    animation: showItem 1s;
    text-align: center;
}

.show{
    display: inline-block;
    opacity: 1;
    animation: showItem 1s;
}

.btnFilterWrapper{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: -10px;
}

.sliderWrapper{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: 20px;
    margin-top: -20px;
    padding: 20px;
}

.inputs__brushes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.inputs__brushes--item{
    width: 3rem;
    height: 3rem;
    background-color: white;  
    font-size: 1.3rem;
    border: 1px solid black;
    border-radius: 3px;
    margin-right: 2px;
}

.inputs__colors{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-be;
    margin: 0 auto;
    width: 90%;
    padding-bottom: 20px;
}

.inputs__colors--button{
    margin-bottom: 1px;
    margin-right: 1px;
    height: 2rem;
    width: 2rem;
    border: 2px solid #eee;
    background: red;
}

.inputs__colors--input{
    height: 1.6rem;
    width: 1.5rem;
    border: none;
}

.inputs__size{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    flex-direction: row;
    font-size: 20px;
    font-weight: 700;
}

.inputs__size--btn{
    height: 3rem;
    width: 3rem;
    margin: 0 10px;
    border-radius: 50%;
    font-size: 2rem;
    color:black;
    background-color: #eee;
    border: 2px solid black;
}

.filters__btn{
    padding: 5px 10px;
    margin: 2px;
    background-color: #eee;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid black;
}


.inputs__colors--button + .blue{
    background-color: blue;
}

.inputs__colors--button + .black{
    background-color: black;
}

.inputs__colors--button + .yellow{
    background-color: yellow;
}

.inputs__colors--button + .white{
    background-color: white;
}

.inputs__colors--button + .green{
    background-color: green;
}

.inputs__colors--button + .brown{
    background-color: brown;
}

.inputs__colors--button + .orange{
    background-color: orange;
}
.inputs__colors--button + .orangered{
    background-color: orangered;
}

.inputs__colors--button + .aqua{
    background-color: aqua;
}

.inputs__colors--button + .lime{
    background-color: lime;
}

.inputs__colors--button + .grey{
    background-color: grey;
}

.inputs__colors--button + .sienna{
    background-color: sienna;
}

.inputs__colors--button + .purple{
    background-color: purple;
}

.inputs__colors--button + .pink{
    background-color: pink;
}

.imageWrapper{
    display: grid;
    grid-template-columns: repeat(2,125px);
    gap: 5px;
    margin-left: 20px;
    margin-bottom: 30px;
}

.previewImg1{
    width: 125px;
    height: 100px;
    background-image: url(./img/autumn.jpg);
    background-size: cover;
    cursor: pointer;
}

.previewImg2{
    width: 125px;
    height: 100px;
    background-image: url(./img/road.jpg);
    background-size: cover;
    cursor: pointer;
}

.previewImg3{
    width: 125px;
    height: 100px;
    background-image: url(./img/sky.png);
    background-size: cover;
    cursor: pointer;
}

.previewImg4{
    width: 125px;
    height: 100px;
    background-image: url(./img/river.jpg);
    background-size: cover;
    cursor: pointer;
}

@keyframes showItem{
    0%{
        opacity: 0;
        transform: translateY(-20px);
    }
    60%{
        opacity: 0.8;
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.slider {
    -webkit-appearance: none;
    width: 90%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .sliderRed::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #ff3333;
    cursor: pointer;
  }
  
  .sliderRed::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #ff3333;
    cursor: pointer;
  }

  .sliderGreen::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
  }
  
  .sliderGreen::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
  }

  
  .sliderBlue::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: royalblue;
    cursor: pointer;
  }
  
  .sliderBlue::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: royalblue;
    cursor: pointer;
  }

  .downloadBtn,
  .downloadBtn:visited{
      font-size: 25px;
      text-decoration: none;
      font-weight: 700;
    color:#222;
    transition: all .3s;
  }

  .downloadBtn:hover{
      color:white
  }