@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,700,900&display=swap');

html{
    box-sizing: border-box;
    padding: 0;
    border:0;
}

body{
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to bottom, darkgrey, #333) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#canvas{
    background-color: #fff;
    width: 800px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 2rem;
    box-shadow: black 0 0 30px 5px;
}

.allItems{
    width: 95vw;
    height: 90vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.inputs{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    align-content: space-between;
    border: 1px black dotted;
    padding: 1rem;
    justify-content: flex-start;
    align-items: center;
}

.inputs__brushes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.inputs__brushes--item{
    width: 3rem;
    height: 3rem;
    background-color: white;  
    font-size: 1.3rem;
    border: 1px solid black;
    border-radius: 3px;
    margin-right: 2px;
}

.inputs__colors{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-be;
    margin: 2rem 0;
}

.inputs__colors--button{
    margin-bottom: 1px;
    margin-right: 1px;
    height: 2rem;
    width: 2rem;
    border: 2px solid #eee;
    background: red;
}

.inputs__colors--input{
    height: 1.6rem;
    width: 1.5rem;
    border: none;
}

.inputs__size{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    flex-direction: row;
    font-size: 20px;
    font-weight: 700;
}

.inputs__size--btn{
    height: 3rem;
    width: 3rem;
    margin: 0 10px;
    border-radius: 50%;
    font-size: 2rem;
    color:black;
    background-color: #eee;
    border: 2px solid black;
}

.filters__btn{
    padding: 5px 10px;
    margin: 2px;
    background-color: #eee;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid black;
}


.inputs__colors--button + .blue{
    background-color: blue;
}

.inputs__colors--button + .black{
    background-color: black;
}

.inputs__colors--button + .yellow{
    background-color: yellow;
}

.inputs__colors--button + .white{
    background-color: white;
}

.inputs__colors--button + .green{
    background-color: green;
}

.inputs__colors--button + .brown{
    background-color: brown;
}

.inputs__colors--button + .orange{
    background-color: orange;
}
.inputs__colors--button + .orangered{
    background-color: orangered;
}

.inputs__colors--button + .aqua{
    background-color: aqua;
}

.inputs__colors--button + .lime{
    background-color: lime;
}

.inputs__colors--button + .grey{
    background-color: grey;
}

.inputs__colors--button + .sienna{
    background-color: sienna;
}

.inputs__colors--button + .purple{
    background-color: purple;
}

.inputs__colors--button + .pink{
    background-color: pink;
}