.main{
    margin-top: 5rem;
    display: flex;
    justify-items: center;
   
    &Starter{
        display: grid;
        align-content: center;
        padding: 1rem;
        margin: 0 auto;
        width: 70%;
        height: 5rem;
        color:$primary;
        font-size: 2rem;
        font-weight: 600;
        border: 2px solid $colorOfBorder;
        border-radius: 1rem;
    }

    &Input{
        display: none;
        margin:0 auto;
        width: 60%;
        border: 2px solid $colorOfBorder;
        border-radius: 5px;
    }
}

.example{
  width: 30px;
  grid-column: 2/2;
  grid-row: 4/4;
 align-self: center;

}

.pin{
  width:30px;
  grid-column: 3/3;
  grid-row: 4/4;
  align-self: center;
  margin-top: 4px;
  cursor: pointer;
  opacity: 0.7;

  &:hover{
    opacity: 1;
  }
}



.palete{
  width:3rem;
  grid-column: 2;
  grid-row: 4/4;
  margin-top: 1rem;

  &Content{
    display: none;
    position: absolute;
    width: 100px;
    min-height: 100px;
    z-index: 1;
    background-color: #eee;
    border: 2px solid $colorOfBorder;
    border-radius: 3px;
    font-size: 1.4rem;
   
    
    :not(:last-child){
      margin-bottom: 2px;
    }

    &Item{
      width: 98%;
      margin: 0 auto;
      height: 2rem;
      text-align: center;
      cursor: pointer;
    }
  }
}

.red{
  background-color: $redNoteBg;
  border: 2px solid $redNoteBorder;
  border-radius: 4px;
}

.green{
  background-color: $greenNoteBg;
  border: 2px solid $greenNoteBorder;
  border-radius: 4px;
}

.blue{
  background-color: $blueNoteBg;
  border: 2px solid $blueNoteBorder;
  border-radius: 4px;
}
.dark{
  border: 2px solid #333;
  color:#eee;
  background-color: $darkNoteBg;
  border-radius:4px;
}
.white{
  border: 2px solid $colorOfBorder;
  border-radius: 4px;
}
.example:hover .paleteContent{
  display: block;
}
.form{
    display: grid;
    grid-template-columns: 1fr 3rem 3rem 10rem;
    grid-template-rows: min-content max-content max-content 50px;

    &Closure{
        color:#eee;
        background-color: $secondary;
        width: 2rem;
        height: 2rem;
        text-align: center;
        padding-top: 3px;
        cursor: pointer;
        border-radius: 3px;
    }
}

.formItem {
    width: 70%;
    margin: 2rem auto;
    position: relative;
    flex-shrink: 0;
    margin-right: 5rem;
    

    &1{
        grid-column: 1/span 4;
    }

    &2{
        grid-column: 1/span 4;
    }

    &Btn{
        grid-column: 5/5;
        grid-row: 4/4;
        margin-right: 2rem;

    }

    &Closure{
        grid-column: 5/5;
        grid-row: 1/1;
        justify-self: end;
    }
  }
  
  .formItemBar {
    width: 100%;
    height: 2px;
    background: #7d7d7d;
    transition: 0.1s all;
  }
  
  .label {
    color: #7d7d7d;
    position: absolute;
    top: 3px;
    left: 0;
    transition: 0.2s ease-out all;
    font-size: 16px;
  }
  
  .input,
  .textarea {
    color: #7d7d7d;
    font-size: 16px;
    border: none;
    line-height: 22px;
    width: 100%;
    background: none;
  }
  
  .textarea {
    resize: none;
    min-height: 100px;
  }
  
  .input:focus,
  .textarea:focus {
    outline: none;
  }
  
  .input:focus + .label,
  .textarea:focus + .label {
    top: -22px;
    font-size: 13px;
  }
  
  .input:not(:placeholder-shown) + .label,
  .textarea:not(:placeholder-shown) + .label {
    top: -22px;
    font-size: 13px;
  }
  
  .input:focus ~ .formItemBar,
  .textarea:focus ~ .formItemBar {
    background: #1e58ff;
  }
