.nav{
    display: grid;
    grid-template-columns: 20rem 1fr;
    padding: 2rem;
    border-bottom: 1px solid $colorOfBorder;
    border-top: 1px solid $colorOfBorder;
    min-height: 90px;
    max-height: 30vh;

    button{
        display: inline-block;
    }

    h1{
        font-size: 3rem;
        color: $secondary;
    }

}

#defaultNav{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-self: flex-end;
    align-self: center;
}

.searchDiv{
    display: none;
    justify-self: flex-start;
    align-self: center;
    grid-template-columns: 1fr 1px;
    width: 90%;
    

    &Icon{
        width: 3rem;
        height: 3rem;
        align-self: flex-end;
        grid-row: 2;
        grid-column: 2;
        margin-top: 7rem;
    }

    &Form{
        display: grid;
        grid-template-columns: 1fr 30px;
        grid-template-rows: 5rem 30px 5rem;
        align-self: center;
        margin-right: 20rem;
    }

    .hiddenForm{
        justify-content: flex-start;
        justify-items: flex-start;
    }

    
}

.radio{
    grid-row: 3;
    text-align: center;
    justify-self: center;
    align-self: flex-start;

    &Wrapper{
        display: flex;
        margin-top: 1rem;

        &Item{
            margin-left: 5px;
        }
    }
    
}

.searchX{
    font-size: 2rem;
    align-self: center;
    justify-content: flex-end;
    cursor: pointer;
}