.notes{
    display: grid;
    width: 80%;
    margin:1.5rem auto 0;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    gap: 1rem;

    &Item{
        display: grid;
        grid-template-rows: 25px 1fr 30px;
        width:100%;
        height: 100%;
        margin: 1rem;
        background-color: #eee;
        border: 2px solid $colorOfBorder;
        text-align: justify;
        border-radius: 1rem;
        animation: show .5s ease-out;

        &Title{
            grid-row: 1;
            text-align: center;
            font-size: 1.8rem;
            color:#333;
            padding-top: 5px; 
            margin-bottom: 3px;
            font-weight: 700;
        }

        &Para{
            grid-row: 2;
            color:black;
            font-size: 1.6rem;
            padding: 1rem;
        }

        &Paragraph{
            grid-row: 3;
            display: none;
            align-self: flex-end;
            &Closure{
                font-size: 3rem;
                cursor: pointer;
            }
        }

        

        &Red{
            @extend .notesItem;
            background-color: red;
            border: 2px solid lighten(red, 20%)
        }

        &:hover &Paragraph{
            display: flex;
        }

    }

   

}