.searchPin{
    &Wrapper{
        display: flex;
        background-color: red;
        width: 6rem;
        height: 6rem;
        display: inline-block;
        justify-items: center;
        align-items: center;
    }
    &Image{
        width: 3.5rem;
    }
}