@import '../base/variables.scss';

.searchWrapper{
    display:none;
    text-align: center;
    margin-top: 2rem;
    border-bottom: 1px solid $primary;
}

.searchPin{
    &Wrapper{
        display: inline-block;
    }
    
    &Image{
        box-sizing: content-box;
        width: 3.5rem;
        margin: 1rem auto;
        margin-right: 2rem;
        padding: 1rem;
        border: 2px solid black;
        border-radius: 50%;
    }
}