$primary:#666;
$secondary:#1e58ff;
$colorOfBorder:#aaa;

$redNoteBg:#ff4040;
$redNoteBorder:#990000;

$greenNoteBg:#57e857;
$greenNoteBorder:#128712;

$blueNoteBg:#8282ff;
$blueNoteBorder:#0000bd;

$darkNoteBg:#3d3d3d;